<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/assets/main.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <img
      src="/public/assets/nestjs-tutorial-2023.png"
      alt="NestJS Tutorial 2023"
    />
    <script src="/public/assets/main.js"></script>
  </body>
</html>
